body::-webkit-scrollbar { display: none; }
        body { -ms-overflow-style: none; scrollbar-width: none; overscroll-behavior: none; }
        
        .modo-espia { background-color: black !important; color: black !important; }
        .modo-espia * { opacity: 0.05; }

        input[type=range] { touch-action: none; }
        input[type=range]::-webkit-slider-thumb {
            appearance: none; width: 32px; height: 32px; background: #3b82f6; border-radius: 50%; cursor: pointer; border: 4px solid white; box-shadow: 0 0 15px rgba(0,0,0,0.8);
        }
        #brillo-slider::-webkit-slider-thumb { width: 28px; height: 28px; background: #eab308; }

        @media screen and (orientation: portrait) {
            .portrait-warning-active { display: flex !important; }
        }
